<div class="tab-content">
  <div class="tab-pane fade show active" id="sieve" role="tabpanel" aria-labelledby="sieve-tab">
    <div>
      <h1>Sieve of Eratosthenes demonstration:</h1>
      <br>
      <h2>Algorithm description:</h2>
      <ol>
        <li>Mark the number 1 as non-prime.</li>
        <li>Mark the first unmarked number as prime. Step through the set of numbers, marking each multiple as a non-prime number.</li>
        <li>Repeat step 2 until all numbers are marked.</li>
      </ol>
    </div>
    <div class="alert alert-info" id="current-number-info">
      Current Prime: n/a
    </div>
    <div>
      <% (1..@rows).each do |row| %>
        <div>
          <% (1..@columns).each do |column| %>
            <% number = (row-1)*@columns + column %>
            <% prime_factors = controller.prime_factors(number) %>
            <% title = prime_factors.empty? ? "Prime" : "Prime factors: #{prime_factors.join(', ')}" %>
            <div
              id="thing_<%= number %>"
              class="node m-1"
              data-number="<%= number %>"
              data-prime-factors="<%= controller.prime_factors(number).join(',') %>"
              data-bs-toggle="tooltip"
              title="<%= title %>"
            >
              <%= number %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div id="run-again-container">
      <button class="button" id="run-again">Run Again</button>
    </div>
  </div>
</div>
